<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head") %> 

<body class="container" style="padding-top: 50px">
    
    <%- include("../partials/header", {pagina: "Sobre"}) %> 

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Me chamo Gabriel Sousa so sei que nada sei</p>
        </div>
    </main>
    <%- include("../partials/footer") %> 

</body>

</html>